<?xml version="1.0"?>
<plugin id="Klaasculator">
    <information>
        <name>Klaasculator nu ook in Gnumeric</name>
        <description>Klaasculator 3 is dus ook redelijk portable.</description>
    </information>
    <loader type="Gnumeric_PythonLoader:python">
        <attribute name="module_name" value="klaasculator_gnumeric"/>
    </loader>
    <services>
        <service type="ui" id="klaasculator" file="menu.xml">
            <actions>
                <action name="dummy_menu" label="Klaasculator"/>
                <action name="Algemeen_menu" label="Algemeen"/>
                <action name="Tegenregel" label="Tegenregel"/>
                <action name="Layout" label="Layout"/>
                <action name="Debug" label="Debug"/>
                <action name="Boekstuk_Editor" label="Boekstuk Editor"/>
                <action name="Kascie_Helper" label="Kascie Helper"/>
                <action name="Selecteer_een_relatie" label="Selecteer een relatie"/>
                <action name="Refresh_Config_relaties" label="Refresh Config relaties"/>
                <action name="Compileer_menu" label="Compileer"/>
                <action name="Compileer_Alles" label="Compileer Alles"/>
                <action name="Sorteer_Journaal" label="Sorteer Journaal"/>
                <action name="Maak_Grootboek" label="Maak Grootboek"/>
                <action name="debcred_menu" label="debcred"/>
                <action name="debCred_leden" label="debCred leden"/>
                <action name="begin_dc" label="begin dc"/>
                <action name="Gebcie_menu" label="Gebcie"/>
                <action name="Baromzet" label="Baromzet"/>
                <action name="NICO" label="NICO"/>
                <action name="Configuratie_menu" label="Configuratie"/>
                <action name="Configuratie_Aanpassen" label="Configuratie Aanpassen"/>
                <action name="Relaties_Aanpassen" label="Relaties Aanpassen"/>
                <action name="Selecteer_Configuratiebestand" label="Selecteer Configuratiebestand"/>
                <action name="Selecteer_Relatiebestand" label="Selecteer Relatiebestand"/>
                <action name="Sneltoetsen_activeren" label="Sneltoetsen activeren"/>
                <action name="Python_Console" label="Python Console"/>
            </actions>
        </service>
    </services>
</plugin>
